<li class="comment">
  <div class="by">
    <a href=`/users/${input.comment.user}`>${input.comment.user}</a> 
    ${input.comment.time_ago} ago
  </div>
  <div class="text">$!{input.comment.content}</div>
  <if(input.comment.comments.length)>
    <toggle>
      <for|comment| of=input.comment.comments>
        <comment comment=comment/>
      </for>
    </toggle>
  </if>
</li>
