<div class="toggle open">
  <a onClick("toggle")/>
</div>

<ul.comment-children>
  <${input.renderBody}/>
</ul>

style {
  .toggle a:before {
    content: "[+] comments collapsed";
  }
  .toggle.open a:before {
    content: "[-]";
  }

  .toggle + ul {
    display: none;
  }

  .toggle.open + ul {
    display: block;
  }
}